
#horizontal-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4e73df;
    min-height: 180px;
    border-bottom: solid 3px #fafafa;
    border-radius: 3px;
    color: #fafafa;
    margin-bottom: 30px;
    padding: 20px;
    width: 700px;
}

#repositories-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100px;
    width: 100%;
    margin: 60px;
}

#vertical-card h1, h3{
    margin: 3px;
}

#link-repositorio{
    font-size: 0.7em;
}

