#vertical-card{
    background-color: #4e73df;
    min-height: 180px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: solid 3px #fafafa;
    border-radius: 3px;
    color: #fafafa;
    flex-direction: column;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#vertical-card h1, h3{
    margin: 3px;
}

#link-repositorio{
    font-size: 0.7em;
}
